<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="tumblrHttpFactory" class="com.vision.util.http.HttpFactory" init-method="init">
        <!--<constructor-arg name="proxyIp" value="${proxyIp}"/>-->
        <!--<constructor-arg name="proxyPort" value="${proxyPort}"/>-->
        <constructor-arg name="socketTimeOut" value="${socketTimeOut}"/>
        <constructor-arg name="connectTimeOut" value="${connectTimeOut}"/>
        <constructor-arg name="requestTimeOut" value="${requestTimeOut}"/>
    </bean>

    <bean id="tumblrHttpRequestDao" class="com.vision.util.http.HttpRequestDao">
        <constructor-arg ref="tumblrHttpFactory"/>
    </bean>
</beans>