<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.vision.*">
        <context:exclude-filter type="regex" expression="com.vision.web.*"/>
    </context:component-scan>
    <context:property-placeholder location="classpath*:/url.properties"/>
    <bean id="tumblrStart" class="com.vision.core.TumblrStart">
        <property name="userName" value="${user_name}"/>
        <property name="pwd" value="${pwd}"/>
        <property name="cookiePath" value="${cookie_path}"/>
        <property name="downPath" value="${downPath}"/>
        <!--<property name="redisMq" ref="redisMq"/>-->
        <!--<property name="tumblrNextResolve" ref="tumblrNextResolve"/>-->
        <!--<property name="blogStart" ref="blogStart"/>-->
    </bean>
    <bean class="com.vision.util.http.down.thread.DownVideoExecutorPool">
        <constructor-arg name="nThreads" value="${threadPoolCount}"/>
        <constructor-arg name="name" value="${threadPoolName}"/>
    </bean>
</beans>